@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Circular Sp Vit Black Web";
	src: url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Black.woff") format("woff"),
		 url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Black.woff2") format("woff2");
}

@font-face {
	font-family: "Circular Sp Vit Bold Web";
	src: url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Bold.woff") format("woff"),
		 url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Circular Sp Vit Light Web";
	src: url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Light.woff") format("woff"),
		 url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Light.woff2") format("woff2");
}

@font-face {
	font-family: "Circular Sp Vit Medium Web";
	src: url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Medium.woff") format("woff"),
		 url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Circular Sp Vit Book Web";
	src: url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Book.woff") format("woff"),
		 url("/public/fonts/css/fonts/Circular\ Sp\ Vit\ Web\ Book.woff2") format("woff2");
}




/*   
  body {
    font-family: "Circular Sp Vit Bold Web" , sans-serif;
  } */



hr {
  border: 1px solid rgb(217, 218, 220)
}

.bg-show {
	background-color: #101010;
	transition: all ease 0.3s;
}
